# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.egg-info/

# Local databases
*.db
*.sqlite
*.sqlite3

# Node & Frontend
node_modules/
dist/
build/
.oxlintrc.json

# Environment variables
.env
.env.local

# Operating System
.DS_Store
Thumbs.db
